<div style="background:#444; color:white; padding:12px; border-radius:6px;">

# Python Refresher ‚Äì Homework
</div>

This notebook is a **refresh + practice** on Python fundamental topics:

- Variables and basic data types  
- Lists and list operations  
- Dictionaries  
- Conditional statements (`if / elif / else`)  
- Loops (`while` and `for`)  
- Functions, nested functions, and recursion  

üí° **How to use this notebook**

- Run the notebook **top to bottom**.  
- Only edit cells that say `# Your code goes here`.  
- For each Practice problem, **write your own code** in the space provided.  
- Use `print()` statements to check your results and understand what the code is doing. This will be useful got **'Try it out yourself'** sections.  
- If you get stuck, write down **whatever approach you tried** ‚Äì don‚Äôt leave it blank.

In [1]:
print("Hello world!")

Hello world!

<div class="alert alert-block alert-info">
<b>Helpful links (optional reading):</b><br><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/default.asp">
Python basics (syntax, variables, lists, dicts, loops, functions)
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_variables.asp">
Python variables & data types
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_lists.asp">
Python lists
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_dictionaries.asp">
Python dictionaries
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_conditions.asp">
Python if...else (conditions)
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_for_loops.asp">
Python for loops
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_functions.asp">
Python functions
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_dictionaries.asp">
Lists, Dictionaries
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_file_handling.asp">
File I/O
</a><br>

<a style="color:#0033cc;" href="https://www.w3schools.com/python/python_try_except.asp">
Try-Except Debugging
</a><br>

**These are only for reference ‚Äì you **do not** have to read everything before starting.**
</div>

# Variables and Basic Types

A **variable** is a name that stores a value in memory.

Examples of common data types:

- `int` ‚Üí whole numbers (e.g., `10`, `-3`)
- `float` ‚Üí decimal numbers (e.g., `3.14`, `0.5`)
- `str` ‚Üí text or characters (e.g., `"hello"`, `'Python'`)
- `bool` ‚Üí boolean values (`True` or `False`)

You create a variable using `name = value`.

Use `print()` to see the value and `type()` to see the data type.

In [2]:
name = "Dharunya"
print(type(name))

<class 'str'>

In [3]:
# Example: variables and their types

name = "Dharunya"
age = 20
height = 5.65        # float (meters)
is_student = True    # boolean

print("name:", name, "| type:", type(name))
print("age:", age, "| type:", type(age))
print("height:", height, "| type:", type(height))
print("is_student:", is_student, "| type:", type(is_student))

name: Dharunya | type: <class 'str'>
age: 20 | type: <class 'int'>
height: 5.65 | type: <class 'float'>
is_student: True | type: <class 'bool'>

### Try it out yourself

Decimals: Any number without decimal points

In [4]:
a = 5
b = 1234555555555555555555566666666666677777777777777
c = -10
print(type(a), type(b), type(c)) # returns the data type of a variable

<class 'int'> <class 'int'> <class 'int'>

In [5]:
type_a = type(a)
print("The type of variable a is: ", type_a)

The type of variable a is:  <class 'int'>

Float: Any number with decimal points

In [6]:
d = 6.567
type(d)

float

In [7]:
f = 5e2
type(f)

float

In [8]:
e = 5
print(type(e))
print(type(e+6.2))

<class 'int'>
<class 'float'>

<div style="background:#333; padding:14px; border-radius:8px; color:white">

### ‚≠ê Practice #1 ‚Äî Basic Variables

Create variables to store information about three people:

1. **Jill** ‚Äî age 21, city **Chennai**
2. **Jack** ‚Äî age 20, city **Bangalore**
3. **Jacob** ‚Äî age 22, city **Mumbai**

#### Tasks:
- Create separate variables for each person  
  (Example: `jill_name`, `jill_age`, `jill_city`)
- Use `print()` to display a sentence for each, like:  
  **"Jill is 21 years old and lives in Chennai."**

This exercise builds comfort with variables and strings ‚Äî  
skills you will use later when storing chatbot responses.

</div>

In [9]:
# Practice #1 ‚Äì Your code goes here

# Example structure (you will complete it):
# jill_name = "Jill"
# jill_age = 21
# jill_city = "Chennai"

# print(jill_name, "is", jill_age, "years old and lives in", jill_city)

# Dharunya 
Dharunya_name = "Dharunya" 
Dharunya_age = 20 
Dharunya_city = "Chennai" 
print(Dharunya_name, "is", Dharunya_age, "years old and lives in", Dharunya_city) 

# Priya 
Priya_name = "Priya" 
Priya_age = 20 
Priya_city = "Bangalore" 
print(Priya_name, "is", Priya_age, "years old and lives in", Priya_city) 

# Praveena
Praveena_name = "Praveena" 
Praveena_age = 22 
Praveena_city = "Mumbai" 
print(Praveena_name, "is", Praveena_age, "years old and lives in", Praveena_city)

Dharunya is 20 years old and lives in Chennai
Priya is 20 years old and lives in Bangalore
Praveena is 22 years old and lives in Mumbai

# Lists

A **list** is used to store multiple items in a single variable.

### Key features of lists:
- They are written using square brackets: `[ ]`
- Items are separated by commas  
- Items have **indexes**, starting from 0. Thus the first item has index [0], the second item has index [1] etc.
- List indexing is therefore from 0 to n-1 where n is total number of elements in a list. For example a list of 100 items has index from 0 to 99 (n= 100, thus n-1 = 99)
- Lists are **changeable** (also known as mutable) ‚Äî you can update, add, or remove items

Examples:
```python
names = ["Jill", "Jack", "Jacob"]
scores = [10, 20, 30, 40]

In [10]:
# Basic list example
colors = ["red", "green", "blue"]
print("Original list:", colors)

Original list: ['red', 'green', 'blue']

In [ ]:
# Accessing items
print("First color:", colors[0])
print("Last color:", colors[-1])

In [28]:
# Changing an item
colors[1] = "yellow"
print("After change:", colors)

After change: ['red', 'yellow', 'blue']

In [29]:
# Adding items
colors.append("purple")
print("After append:", colors)

After append: ['red', 'yellow', 'blue', 'purple']

In [30]:
# Length of list
print("Length:", len(colors))

Length: 4

In [31]:
# Slicing examples
numbers = [10, 20, 30, 40, 50, 60, 70]

print("numbers:", numbers)
print("First 3 numbers:", numbers[:3])
print("Middle slice (index 2 to 4):", numbers[2:5])
print("Last 3 numbers:", numbers[-3:])

# List of lists
matrix = [[1,2,3], [4,5,6]]
print("Matrix:", matrix)
print("Element at row 2, column 2:", matrix[1][1])

numbers: [10, 20, 30, 40, 50, 60, 70]
First 3 numbers: [10, 20, 30]
Middle slice (index 2 to 4): [30, 40, 50]
Last 3 numbers: [50, 60, 70]
Matrix: [[1, 2, 3], [4, 5, 6]]
Element at row 2, column 2: 5

### Try it out yourself

In [19]:
l1 = [1,2,3,5,6,7]
print(type(l1))

l1_mix = [1,True,"Hello",5.6]

l1[0]
l1[3]
l1[-1]
l1[-1] = 100 # lists are mutable

l11 = [1,2,3]
l12 = [4,5,6]
l13 = l11 + l12 # + of 2 lists will concatenate them

<class 'list'>

In [9]:
## LIST OPERATIONS
len(l1) # length of string
l1.append(5) # appendign a value to a list and save
l1.insert(3,100) # inserting 100 in 3rd position and save
l1.extend(l12)  # append a list to an existing list and save
l1 = l1 + l12 # same as above
del l1[3] # removing value in a corresponding index
l1.remove(1) # remove 1 from list and save
l1.remove(5) # only 1st occuring value will be removed
l1.index(3) # index corresponding to a value
l1.index(6) # only index corresponding to first occurence will be returned
l1.sort() # sort a list in ascending order and save
l1.sort(reverse = True) # descending order

In [10]:
## GENERATE NUMBERS 
# range(n) - generates sequence of numbers from 0 to n-1
l_seq = list(range(100)) # 0 till 99
l_seq2 = list(range(1,101)) # 1 till 100
l_odd = list(range(1,101,2)) # odd numbers from 1 till 100
l_even = list(range(2,101,2)) # even numbers from 1 till 100
l_seq3 = list(range(80,0,-1)) # 80 to 1 in revrse
l_rep1 = [5]*100 # 5 repeated 100 times
l_rep2 = [1,2,3]*20 # 1,2,3 repeated 20 times
l_rep3 = [None]*100 # null list of length 100

In [11]:
## LIST SLICING
l_rep2[0] # 0th position
l_rep2[-1] # last position
l_rep2[10:16] # 10 till 15th position
l_rep2[:11] # beginning till 10th position
l_rep2[50:]  #50th position till last
l_rep2[2:-2]# 2nd till last but 2
l_rep2[2:-2:2] # 2nd till last but 2 in step size of 2
l_rep2[:5] + l_rep2[-5:] # first 5 and last 5 samples

[1, 2, 3, 1, 2, 2, 3, 1, 2, 3]

In [12]:
## LIST SEARCHING
l10 = [10,67,84,56,78]
67 in l10
68 in l10
68 not in l10
word_list = ["milk","cheese","sugar"]
"milk" in word_list
"mi" in "milk"
"coffee" in word_list
"coffee" not in word_list

True

In [13]:
# LIST OF LIST
li_of_li = [[1,2,3],[4,5,6]]
li_of_li[1][1]

5

<div style="background:#444; color:white; padding:12px; border-radius:6px;">

**Practice #2 ‚Äì Cleaning and summarising data**

You have received the following volumes sold by a company from an online source and you plan to use it to forecast future sales. You also notice that not all values are in numeric form.

```python
monthly_volume = [500, 400, 300, 800, "900", "1000", 300, 500, 300, 100, 55000]
```

**Tasks:**

* Create a **cleaned list** from `monthly_volume` by ensuring all values are numeric (integers)  
* Using the cleaned list, calculate and print:  
  * Total volume  
  * Average volume  
  * Minimum monthly volume  
  * Maximum monthly volume  

üí° **Hint:** You can check if a value is a string using `isinstance(x, str)` and convert it using `int(x)`.

</div>

In [ ]:
# Practice #2 ‚Äì Your code goes here

monthly_volume = [500, 400, 300, 800, "900", "1000", 300, 500, 300, 100, 55000]

# 1. Create cleaned list with all integers

# 2. Print total, average, min, max

# Dictionaries

A **dictionary** stores data in **key‚Äìvalue pairs**.

### Syntax:
```python
dictionary = {
    "key1": value1,
    "key2": value2
}


* Keys are unique
* You access values using the key
* Dictionaries are changeable
* Values can be any data type (string, number, list, another dictionary)

Example:

Common operations:
* Access value: person["name"]
* Add new key‚Äìvalue pair: person["college"] = "CTTE"
* Change value: person["age"] = 22
* Get all keys: person.keys()
* Get all values: person.values()

In [ ]:
# Basic dictionary example
person = {
    "name": "Jill",
    "age": 21,
    "city": "Chennai"
}

print("Dictionary:", person)
print("Name:", person["name"])
print("Age:", person["age"])
print("City:", person["city"])

Dictionary: {'name': 'Jill', 'age': 21, 'city': 'Chennai'}
Name: Jill
Age: 21
City: Chennai
After adding college: {'name': 'Jill', 'age': 21, 'city': 'Chennai', 'college': 'CTTE'}
After updating age: {'name': 'Jill', 'age': 22, 'city': 'Chennai', 'college': 'CTTE'}
Keys: ['name', 'age', 'city', 'college']
Values: ['Jill', 22, 'Chennai', 'CTTE']

In [33]:
# Add a new key-value pair
person["college"] = "CTTE"
print("After adding college:", person)

After adding college: {'name': 'Jill', 'age': 22, 'city': 'Chennai', 'college': 'CTTE'}

In [34]:
# Update a value
person["age"] = 22
print("After updating age:", person)

After updating age: {'name': 'Jill', 'age': 22, 'city': 'Chennai', 'college': 'CTTE'}

In [35]:
# Keys and values
print("Keys:", list(person.keys()))
print("Values:", list(person.values()))

Keys: ['name', 'age', 'city', 'college']
Values: ['Jill', 22, 'Chennai', 'CTTE']

### Try it yourself

In [15]:
math_score_list = [95, 67, 88, 45, 84]
math_score_list[2]

88

In [16]:
math_score_dict = {"R101":95,
                   "R104":67,
                   "R107":88,
                   "R110":45,
                   "R201":84}
type(math_score_dict)

# To add a key-value pair to a dictionary
math_score_dict["R301"] = 59

In [17]:
## DICTIONARY SLICING
math_score_dict["R107"]
#math_score_dict[0]

### Keys have to be unique
math_score_dict2 = {"R101":95,
                   "R104":67,
                   "R107":88,
                   "R110":45,
                   "R101":89, #89 will over write 95 for R101
                   "R201":84}

## Keys can be of any immutable data type
dict1 = {101:56,
         102:67}
dict1[101]

56

In [18]:
# Key cannot be list as they are mutable
# The following will throw an error
dict3 = {[101,"Raj"]:95,
        [102,"Raghu"]:67}

TypeError: unhashable type: 'list'

In [ ]:
## Values can be of any data type
# Dictionary of list
score_dict = {"R101":[56,78,57],
              "R102":[89,90,67]}

<div style="background:#444; color:white; padding:12px; border-radius:6px;">

**Practice #3 ‚Äì Working with two dictionaries**

You are given:

```python
states = {
    'TamilNadu': 'TN',
    'Kerala':'KL',
    'Karnataka':'KA',
    'Maharashtra': 'MH',
    'Andhra Pradhesh':'AP'
}

cities = {
    'TN': 'Chennai',
    'MH':'Mumbai',
    'KA':'Bangalore'
}
```

Here:

* `states` maps **state name ‚Üí state code**  
* `cities` maps **state code ‚Üí city name**

**Tasks:**

1. Find the city name in the state **"Karnataka" (KA)** and print it.  
2. Add a new city `'Coimbatore'` for the state code `'TN'` in the `cities` dictionary. 

</div>

In [ ]:
# Practice #3 ‚Äì Your code goes here

states = {
    'TamilNadu': 'TN',
    'Kerala':'KL',
    'Karnataka':'KA',
    'Maharashtra': 'MH',
    'Andhra Pradhesh':'AP'
}

cities = {
    'TN': 'Chennai',
    'MH':'Mumbai',
    'KA':'Bangalore'
}

# Conditionals programming (if / elif / else)

Conditionals allow your program to **make decisions**.

In rule-based chatbots, conditionals are used for:
- checking what the user said  
- matching keywords  
- responding differently based on intent  
- branching conversations  

### Basic structure:

```python
if condition1:
    # runs if condition1 is True
elif condition2:
    # runs if condition1 is False AND condition2 is True
else:
    # runs if none of the above conditions match

Comparison operators:
* == (equal to)
* != (not equal)
* \> , <
* \>= , <=

Logical operators:
* and
* or
* not

## if-else Refresher

In [ ]:
a = 33
b = 200
if b > a:
    print("b is greater than a") # notice one level right indentation

In [ ]:
if b > a:
    print("b is greater than a")
else:
    print("b is either lesser than or equal than a")

## elif Refresher

In [ ]:
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

## Nested if Refresher

In [ ]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        pass
    else:
        print("but not above 20.")

## If with multiple criteria

<div style="background:#333; padding:14px; border-radius:8px; color:white">

### ‚≠ê Practice #4 ‚Äî Classifying Exam Scores

Write an `if / elif / else` block to classify a student based on their exam score  
stored in the variable `math_mark`.

Use the rules below:

- **Distinction:** `math_mark >= 90`  
- **A grade:** `75 <= math_mark < 90`  
- **B grade:** `55 <= math_mark < 75`  
- **c grade:** `30 <= math_mark < 55`  
- **Fail:** `math_mark < 30`  
- **NA:** if the exam was not attended  
  (you can represent this as `None` or the string `"NA"`)

#### Tasks:
1. Set `math_mark` to a value (example: 75)  
2. Write the conditional logic  
3. Change `math_mark` to different values and test again  
   (try: 45, 82, 91, and `None`)

This mirrors chatbot logic where responses change based on rules.

</div>

In [ ]:
# Practice #4 ‚Äì Your code goes here

math_mark = 75  # try different values

# Write your if / elif / else logic below

# Loops

Loops are used to execute a block of code several times as long as a certain criteria is met. if criteria is not met, loop is terminated and next statement outside the loop is executed

## While loop Refresher

A **while loop** executes a set of statements **as long as a condition is True**.

Basic pattern:

```python
i = 1
while i <= 5:
    # code block
    i += 1   # same as i = i+1
```

When the condition becomes `False`, the loop stops and the next statement after the loop is executed.

In [36]:
i = 1
while i < 6:
    print(i)
    i += 1 # same as i = i+1

1
2
3
4
5

Note:
* With the 'break' statement we can stop a loop even if the while condition is true
* With the 'continue' statement we can stop the current iteration, and continue to the next iteration
* With the 'else' statement we can run a block of code when the loop condition is no longer true

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
    if i == 3:
        continue # replace break with continue (or vice versa) and rerun code
else:
    print("i is no longer less than 6")

## For loop

<div style="background:#333; padding:14px; border-radius:8px; color:white">

### ‚≠ê Practice #5 ‚Äî Rewrite Loop Logic (While ‚Üí For)

This exercise helps you understand how loops work ‚Äî  
important for checking keyword lists in a chatbot.

#### Task:
1. Write a **while loop** that prints all **even numbers** from 1 to 10  
2. Rewrite the **same logic** using a **for loop** with `range()`  
3. (Optional) Try to recollect range() introduced in lists and incorporate that function on your loop

**Hint:**  
Even numbers satisfy:  
```python
i % 2 == 0

In [ ]:
# Practice #5 ‚Äì Your code goes here

# 1. While loop version

In [ ]:
# Practice #5 ‚Äì Your code goes here

# 2. For loop version using range()

In [ ]:
# Practice #5 ‚Äì Your code goes here


# 3. Optional: lists

### Try it yourself

For loops can also be used to loop through elements inside lists, dictionaries and tuples

In [ ]:
a_list = ["Today", "&", "Tomorrow"]
a_dict = {'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}
a_tuple = ("pizza", "fries", "ice cream", "salad")

In [ ]:
for word in a_list:
    print(word)

In [ ]:
for k, v in a_dict.items():
    print(f"The key is: {k} and the value is: {v}")

In [ ]:
for food in a_tuple:
    print(food)

## Nested loops Refresher

In [ ]:
for i in range(1,4):
    for j in range(1,6):
        print(j)


# Functions

A **function** is a reusable block of code that performs a specific task.

Functions make your code cleaner, modular, and easier to understand. 

### Function structure

```python
def function_name(parameters):
    # code here
    return result   # (optional)

## Writing a simple function and calling the function

In [ ]:
def print_lyrics():
    i = 1
    while i < 4:
        print("Baby shark, " + "do " * 6)
        i += 1
    print("Baby shark!")

In [ ]:
print_lyrics()

Baby shark, do do do do do do
Baby shark, do do do do do do
Baby shark, do do do do do do
Baby shark!

## Passing parameters to function Refresher

In [ ]:
def print_lyrics(name):
    i = 1
    while i < 4:
        print(f"{name} shark, " + "do " * 6)
        i += 1
    print(f"{name} shark!")

In [ ]:
print_lyrics("Baby")
print_lyrics("Mommy")

## Returning values from function Refresher

In [ ]:
# Function that returns a list of factors of x

def find_factors_of(x):
    factors = []
    for i in range(1, x+1):
        if x % i == 0:
            factors.append(i)
    return factors

print("Factors of 12:", find_factors_of(12))
print("Factors of 15:", find_factors_of(15))

## Nested functions

A function within a function forming a hierarchy. Inner function is only accessible inside outer function.

In [41]:
def outer_func(who):

    print(f"Hello")

    def inner_func():
        print(f"--{who}")

    inner_func()

outer_func("World!")
outer_func("Python!")

Hello
--World!
Hello
--Python!

# Recursion

A **recursive function** is a function that calls itself.

It must have:
- a **base case** (when to stop)
- a **recursive step** (a smaller version of the original problem)

Example:  
Factorial

In [42]:
# Countdown example using recursion

def countdown(n):
    if n == 0:
        print("Blast off!")
    else:
        print("Counting down:", n)
        countdown(n - 1)

countdown(5)

Counting down: 5
Counting down: 4
Counting down: 3
Counting down: 2
Counting down: 1
Blast off!

<div style="background:#333; padding:14px; border-radius:8px; color:white">

### ‚≠ê Practice #6 ‚Äî Factorial Using Recursion

Write a function `factorial(n)` using **recursion**.

Rules:
- `factorial(0) = 1`
- `factorial(1) = 1`
- For `n > 1`:  
  `factorial(n) = n * factorial(n - 1)`

#### Tasks:
1. Write the recursive function  
2. Print the results for:
   - `factorial(0)`
   - `factorial(1)`
   - `factorial(5)`

This helps you understand recursive logic ‚Äî useful in advanced coding but not required for basic chatbot building.

</div>

In [ ]:
# Practice #6 ‚Äì Your code goes here

# Define factorial(n) using recursion

# Print factorial(0), factorial(1), factorial(5)